body {
    margin: 0px;
    padding: 0px;
}

header {
    height: 100px;
    width: 100%;
    background-color: rgb(91, 123, 182);
    padding: 10px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div {
    width: 100%;
    height: 90px;
    background-color: rgb(124, 165, 241);
    padding: 1px;
    box-sizing: border-box;
    font-size: 20px;
}

#menu {
    display: flex;
    list-style: none;
    position: relative;
    justify-content: center;
}
 
#menu > li {
    display: inline-block;
    margin: 5px;
    padding: 15px;
    box-sizing: border-box;
    background-color:antiquewhite;
    border-radius: 5px;
    text-decoration: none;
    color:black;
    justify-items: center;
    border-radius: 5px;
    
}

#menu > #elegido {
    background-color: rgb(167, 167, 167);
}

main {
    padding: 10px;
    justify-items: center;  
    font-size: 20px;
}

form {
    border-style:groove;
    border-radius: 25px;
    padding: 40px;
    margin: 20px;
    background:linear-gradient(to bottom, #9bb9db ,#5da9f0 );
}

#btn-siguiente {
    display:inline-block;
    margin-left: 360px;
}

html {
    background-color: rgb(161, 190, 243);
}